@import '../../styles/helper/mixins';
@import '../../styles/helper/variables';

.hero__container {
  height: 88vh;
  width: 100vw;

  // Background image
  .hero__background {
    height: 88%;
    width: 100%;
    position: absolute;

    img {
      height: 100%;
      width: 100%;

      z-index: -1;
    }
    // Tansparency Layer
    .hero__transparent {
      position: absolute;
      height: 100%;
      background: rgba($color: $black, $alpha: 0.8);

      z-index: 1;
    }
  }
}
