@import '../../styles/helper/mixins';
@import '../../styles/helper/variables';

.hero__container {
  height: 88vh;
  width: 100vw;

  // Background image
  .hero__background {
    height: 88%;
    width: 100%;
    position: absolute;

    img {
      height: 100%;
      width: 100%;
    }

    .hero__transparent {
      position: absolute;
      width: 100%;
      height: 102%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      cursor: default;
    }

    .hero__welcome_text {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;

      z-index: 3;

      h1 {
        @include primary-font(
          $size: 3em,
          $color: $primaryBlue,
          $weight: bold
        );
      }

      h3 {
        @include secondary-font(
          $size: 1.4em,
          $color: $white,
          $weight: 400
        );
      }

      button {
        @include primary-font($size: 1.2em, $color: $white);

        padding: 1em;
        background-color: $primaryBlue;

        border: none;
        border-radius: 50px 50px 50px 50px;

        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: darken(
            $color: $primaryBlue,
            $amount: 20
          );
        }
      }
    }
  }
}
